$primary-color: #fff;
$primary-color-drk: #fff;
$primary-color-lt: #fff;

$secondary-color: #fff;
$secondary-color-drk: #fff;
$secondary-color-lt: #fff;

$btn-primary: #fff;
$btn-secondary: #fff;

$background-color: #fff;

